DATA INPUT AND OUTPUT USING PANDAS
CSV
EXCEL
HTML
SQL

Libraries that need to be installed with pip or conda
conda install sqlalchemy
conda install lxml
conda install html5lib
conta install BeautifulSoup4

to read any file, type read_ and click tab

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
### make sure that the csv files are in the same location of your jupyter notebook
pd.read_csv('african_crises.csv')

In [ ]:
### reading a csv file and saving to dataframe
df= pd.read_csv('african_crises.csv')

df

In [ ]:
#### writing into a file from dataframe
##### click tab key after df.to to get all options
### below creates a My_Ouput.csv file
#### reason for index = False is index also gets saved as a column 
df.to_csv('My_Output1')

In [ ]:
pd.read_csv('My_Output1')  #### note the column Unnamed which also stores index
#pd.read_csv('My_Output1')  #### note the column Unnamed which also stores index

In [ ]:
df.to_csv('My_Output1',index=False)

In [ ]:
df

In [ ]:
pd.read_csv('My_Output1')

READING AND WRITING FROM EXCEL FILES
      PANDAS CAN ONLY IMPORT DATA.
      DOES NOT IMPORT FORMULAS OR MACROS
      TRYING TO READ EXCEL FILE WITH FORMULAS MAY CAUSE PANDAS TO CRASH
      WE MAY BE ASKED TO INSTALL XLRD LIBRARY(IDEALLY INSTALLED AUTOMATICALLY WITH ANACONDA 
      Distribution)
      IF ERROR
         conda install xlrd

In [ ]:
#### to read an excel file, pass file name and sheet name. if no sheet name given, sheet1 is assumed
### pandas reads as a dataframe
df1=pd.read_excel('olympics.xlsx',sheet_name='olympics',ignore_index=True)
df2=pd.read_excel('olympics.xlsx',sheet_name='Asean',ignore_index=True)
df = pd.concat([df1, df2]) 
df

In [ ]:
df1 = pd.read_excel('olympics.xlsx', sheet_name=None, ignore_index=True)
df = pd.concat(df1.values(), ignore_index=True)

print(df)

In [ ]:
#### write to excel
df.to_excel('olympics1.xlsx')
#df1.to_excel('olympics1.xlsx',sheet_name='Asean')

In [ ]:
df
df.fillna(0)

In [ ]:
df.head()
df.tail()
df.describe()

In [ ]:
df.columns

In [ ]:
df.iloc[3]

In [ ]:
df["Country"]

In [ ]:
df["Country"].head()

In [ ]:
# making boolean series for a team name 
filter_Gold = df["Gold"]>25
filter_Silver = df["Silver"]>25
filer_Bronze = df["Bronze"]>20
  
# filtering data 
df.where(filter_Gold & filter_Silver & filer_Bronze, inplace = True) 
  
# display 
df

In [ ]:
newdf["Total Medal Cpunt"]=df["Gold"]+df["Silver"]+df["Bronze"]
newdf

READING FROM HTML INPUT

In [ ]:
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

#### notee that depending on the size of html,
#### jupyter will take time to read and process the data.
#### output is a list
#### this command, picks up every table element that is present in html file
#### table references markings (can be found in the html source code "view source")
### this command, creates a list of all table elements and converts each item to data frame)

In [ ]:
type(data)

In [ ]:
#### to check the first item in list
data[0]

In [ ]:
data[0].head()

WORKING WITH SQL IN PANDAS
PANDAS IS NOT THE BEST WAY TO READ A SQL DB
WE WILL BUILD A VERY SIMPLE SQL ENGINE JUST TO SHOW HOW PANDAS CAN BE USED TO READ TABLES
SPECIFIC DRIVERS NEED TO BE USED FOR SPECIFIC SQL DB LIKE POSTGRESS, MYSQL ETC

In [ ]:
#### helps create a simple sql engine
from sqlalchemy import create_engine

In [ ]:
### creates a small, temp sqllite engine which is in memory
engine = create_engine('sqlite:///:memory:')

In [ ]:
df

In [ ]:
#### this engine is a connection. go over the help document. 
### pandas is not great with sqls. look for specialized
#### python librraries
df.to_sql('my_table',engine)

In [ ]:
sqldf = pd.read_sql('my_table',con=engine)

In [154]:
sqldf

    index        Country Country Code  Year  Gold  Silver  Bronze
0       0  Great Britain          GBR  2012    29      17      19
1       1         China           CHN  2012    38      28      22
2       2         Russia          RUS  2012    24      25      32
3       3  United States           US  2012    46      28      29
4       4          Korea          KOR  2012    13       8       7
5       5          Japan          JPN  2012     7      14      17
6       6        Germany          GER  2012    11      11      14
7       7         Bhutan          BHU  2012    29      17      19
8       8        Myanmar          MYN  2012    38      28      22
9       9          Nepal          NEP  2012    24      25      32
10     10          India          IND  2012    46      28      29
11     11          Korea          KOR  2012    13       8       7
12     12          Japan          JPN  2012     7      14      17
13     13      Sri Lanka          SLK  2012    11      11      14