Data frames are 2d data structures .
Data is aligned in a tabular format consists of rows and columns
DataFrames can hold multiple data types
DataFrames Constructor in pandas is
pd.DataFrames(data=,index=,dtype=,copy)
data holds the data source
index holds the index to access the data source
dtype is type of the data
copy is self to false default. take a copy

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)      #### we get the same set of random numbers

In [4]:
#### creating a data frame

df = pd.DataFrame(data=randn(5,4),index=['A','B','C','D','E'],columns= ['W','X','Y','Z'])

In [5]:
df

#### each of the column W,X,Y,Z is each a pandas series sharing a common index

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
#### creating a data frame from a list
df_list = [['a1','b1','c1'],['a2','b2','c2'],['a3','b3','c3']]
df_list

#### to create user defined index, let us create a list of index
df_index = ['indx1','indx2','indx3']

In [7]:
### create dataframe from list
#data_Frame_list = pd.DataFrame(data=df_list)

data_Frame_list = pd.DataFrame(data=df_list,index=df_index,columns=('ColA','ColB','Colc'))
data_Frame_list

      ColA ColB Colc
indx1   a1   b1   c1
indx2   a2   b2   c2
indx3   a3   b3   c3

In [8]:
#### creating a dataframe from dictionary
#### let us create a new diction
df_dict = {'k1':(1,2,3),'k2':(20,30,40),'k3':(30,40,50),'k4':[100,200,300]}


### to make INDEXES FOR DATAFRAME
#data_Frame_dict = pd.DataFrame(data=df_dict,index=('I1','I2','I3','I4'),columns=('ColA','ColB','ColC','ColD'))
#data_Frame_dict


### to make INDEXES FOR DATAFRAME
#data_Frame_dict = pd.DataFrame(data=df_dict,index=('k1','k2','k3','k4'),columns=('ColA','ColB','ColC','ColD'))
#data_Frame_dict

In [9]:
### default creation
data_Frame_dict = pd.DataFrame(data=df_dict)
print(data_Frame_dict)

   k1  k2  k3   k4
0   1  20  30  100
1   2  30  40  200
2   3  40  50  300

In [10]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [11]:
#### to retrieve information from data frame
df['W']

#### note that the output is a series

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [12]:
type(df['W'])

pandas.core.series.Series

In [13]:
### alternate way to retrieve data from df. THIS IS NOT RECOMMENDED 
### because using '.' can get confused with 
#### using methods
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [14]:
#### To retrieve multiple columns ..note the twin square brackets
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [15]:
df[['W','Z','X']]

#### Double bracket notation is enough to extract columns

          W         Z         X
A  2.706850  0.503826  0.628133
B  0.651118  0.605965 -0.319318
C -2.018168 -0.589001  0.740122
D  0.188695  0.955057 -0.758872
E  0.190794  0.683509  1.978757

In [16]:
#### creating a new column  - helps in feature creation
### df['new']   returns error that new column is not found

#### correct way of creating a new column or feature

df['new1']  = df['W'] + df['Y']

In [17]:
df

          W         X         Y         Z      new1
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [19]:
#### to remove columns from a data frame
df.drop('new1')   #### you will get an error "labels new not contained in axis

ValueError: labels ['new1'] not contained in axis

In [20]:
help(df.drop,axis=1)   
#### axis= 0 for drop method refers to index ('A','B')
#### axis=1  refer to columns W, X, Y,Z, new

TypeError: __call__() got an unexpected keyword argument 'axis'

In [18]:
df.drop('new1',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
df       #### note drop does not hard drop the column. it just soft drops it

          W         X         Y         Z      new1
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [21]:
#### for hard deleting or dropping. inplace argument is needed 
df.drop('new1',axis=1,inplace=True)

In [22]:
df       ##### notice new column is permanently removed

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
#### dropping rows

df.drop('C',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
df  ####  (no hard delete with rows as well)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#### hard deleting rows using inplace
#df.drop('E',axis=0,inplace=True)

In [ ]:
df        #### note row E is premanently deleted

In [ ]:
#### why are rows having axis =0 and columns have axis=1
### this is because they are built off of numpy arrays

In [25]:
#### to establish the above

df.shape

### the output is a touple, where indexs or rows ar 4 and columns are 4 too. 
#### that is rows are referred to as 0 axis and columns are 1 axis

(5, 4)

In [26]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
#### selecting rows, by using .loc method. .loc is followed by [] and not ()
df.loc['C']
### note that the rows are reported as series as well

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [28]:
#### index location
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [29]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [28]:
#### to extract subset of rows and columns

In [30]:
df.loc['B','Y']

-0.8480769834036315

In [31]:
#### SUBSETTING -Example 2
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077