Methods to deal with missing data in pandas
Missing data is represented in pandas with NaN values
Methods such as drop or fill helps in dropping or filling missing values

In [2]:
import numpy as np
import pandas as pd

In [4]:
### create a dictionary
#### we will pass  a list of values for each key
#### np.nan signifies missing value

d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [5]:
df = pd.DataFrame(d)

In [6]:
df

#### row 0 has no missing values
### row 1 and 2 has missing values

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
#### pandas will drop any row or column with missing values.
#### df.dropna() drops rows with NaN values in it. because defauly axis parameter =0 represents rows.
df.dropna()

#### npte this has dropped rows 1 and 2 entirely

     A    B  C
0  1.0  5.0  1

In [9]:
#### to drop missing values in missing value, we specify axis=1
d1 = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}
df1 = pd.DataFrame(d1)

In [11]:
df1.dropna(axis=1)

### has dropped columns A and B which had null or NaN values

   C
0  1
1  2
2  3

In [13]:
#### using Threshold. Set the threshold of Non NaN values for getting dropped
d2 = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}
df3 = pd.DataFrame(d1)
df3

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [17]:
#### row 1 has 2 Non NaN values
#### row 2 has 1 Non NaN values
#### we can set the threshold to retain Row1 and drop only row 2

df3.dropna(axis=0,thresh=2)

### observe second row is retained becausee it had 2 NON NaN values

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [ ]:

##### replace missing values using value parameter

In [20]:
### one way to fill missing values is by finding the mean of that column and replacing missing valuees
### with that mean.
### note below that df['A'].mean() helps in getting the mean of column A
df3['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [30]:
#### note that inspite of all dropping of missing values using dropna and filling missing values using
#### fillna, when we print df3, we still see old values.
df3

#### this is because, we did not use the parameter inplace while dropping or filling.
#### inplace = True will make the drops and fill ins permanent.
#### its a good practice to first try out our missing value replacement process with inplace=False.
#### Verify the contents and then finally make the changes permanent with Inplace= True

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3