In [ ]:
#### Pandas is open source library built on top of Numpy
### fast analysis and data cleaning and preparation
### excels in performance and productivity
### has built in visualization features
### can work with data from wide variety of sources

#### installlation of pandas outside jupyter
### from command line or terminal  pip install pandas
### from anaconda prompt           conda install pandas

### if you already installed jupyter , you can call pandas automatically

In [ ]:
###### Pandas Series
####   Series is similar to numpy array, difference is it can be indexed by label

In [5]:
import numpy as np

In [6]:
import pandas as pd

In [7]:
#### let us create 4 objects

### create a new list called "labels"  with strings
labels = ['a','b','c','d','e']

#### create a new list of numbers
my_data = [10,20,30,40,50]

#### create a numpy array 
arr = np.array(my_data)

### create a dictionary
d = {'key1':10, 'key2':20,'key3':100,'key4':40,'key5':50}

In [12]:
print(labels)

print(my_data)

print(arr)

print(d)

['a', 'b', 'c', 'd', 'e']
[10, 20, 30, 40, 50]
[10 20 30 40 50]
{'key1': 10, 'key2': 20, 'key3': 100, 'key4': 40, 'key5': 50}

In [8]:
#### create a new series.
### A series takes a wide variety of params. We will focus only on data and index

### CREATE A SERIES WITH "data" as parameter and passing the list my_data
pd.Series(data=my_data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
#### create series with "data" parameter from my_data list and index parameter from "labels" list
my_series=pd.Series(data=my_data,index=labels)

#### note the contents of the list "lablels" as become the index of the Series my_series

In [15]:
print(my_series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [10]:
### another way creating a series 
my_series1 = pd.Series(my_data,labels)     #### you could also code without data= and index=.
print(my_series1)

#### NOTE ###### 
#### note number of items in the object passed for "data" argument and
#### object passed for "index" argument
#### should be same. else you will get an error indicating the differences

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
###### Difference between Numpy and Series
###### unlike numpy array, i have labeled index , i can have one object as an index of another object
###### data points or observations can be called using the labled index

In [11]:
print(arr)

#### creating a series by using numpy array. with automatic indexes (no index parameter specified)
pd.Series(arr)

[10 20 30 40 50]

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [12]:
#### creating a Series out of a tuple
### create my_tup
my_tup = ((1,2),('aa','bb'),(3,4),('cc','dd'),(50,60))

pd.Series(data=my_tup,index=labels)


#### note
  ### the indexes and contents of the tuples need to align

a      (1, 2)
b    (aa, bb)
c      (3, 4)
d    (cc, dd)
e    (50, 60)
dtype: object

In [19]:
#### creating a series by using numpy array and labeled indexes
pd.Series(arr,index=labels)

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [ ]:
d

In [20]:
lab1 = ['A','B','C','D']

In [13]:
#### creating a Series by using dictionary
pd.Series(data=d)


### note that the keys of dictionary are automatically considered as labels of index.

key1     10
key2     20
key3    100
key4     40
key5     50
dtype: int64

In [22]:
#### creating a Series by using dictionary and rename the indexes to another label
#### note that the series always defaults to the key of dictionary and any other labelled index 
##### returns NaN (Not a Number)
labindex = ['lbidx1','lbidx2','lbidx3','lbidx4','lbindx5' ]
print(labindex)

## pd.Series(data=d,index=labindex)

### correct way to do it 
pd.Series(data=d,index=labindex)

['lbidx1', 'lbidx2', 'lbidx3', 'lbidx4', 'lbindx5']

lbidx1    NaN
lbidx2    NaN
lbidx3    NaN
lbidx4    NaN
lbindx5   NaN
dtype: float64

In [23]:
#### a Series can hold any data object of python
###### creating a series out of a list of strings in labindex list
pd.Series(data=labindex)


#### an example of a series which has strings as data

0     lbidx1
1     lbidx2
2     lbidx3
3     lbidx4
4    lbindx5
dtype: object

In [ ]:
##### a series with built in functions as data points ...references to built in functions. very rarely used

pd.Series(data=[sum,print,len])

In [14]:
##### grabbing information from a series using indexes. index look ups
#### works like a hash table or a dictionary

ser1 = pd.Series(data=[1,2,3,4],index=['dog','cat','lion','tiger'])


#### note heere data is 1,2,3 4 and index is dog, cat, lion..etc

In [16]:
ser1    #### list of strings is the index and list of numbers is the data

dog      1
cat      2
lion     3
tiger    4
dtype: int64

In [17]:
ser2 = pd.Series(data=[1,2,5,4],index=['dog','cat','panda','hyena'])

In [18]:
ser2

dog      1
cat      2
panda    5
hyena    4
dtype: int64

In [19]:
### to grab information from series
#### extract 1
print(ser1['dog'])

1

In [28]:
ser1

dog      1
cat      2
lion     3
tiger    4
dtype: int64

In [27]:
ser1['cat':'lion']      #### here the index is a string

cat     2
lion    3
dtype: int64

In [29]:
labels

['a', 'b', 'c', 'd', 'e']

In [31]:
#### retrieving data from a series with index as numbers
ser3 = pd.Series(data=labels) 
ser3

0    a
1    b
2    c
3    d
4    e
dtype: object

In [32]:
ser3[0:2]

0    a
1    b
dtype: object

In [34]:
print(ser1)

dog      1
cat      2
lion     3
tiger    4
dtype: int64

In [35]:
print(ser2)

dog      1
cat      2
panda    5
hyena    4
dtype: int64

In [33]:
#### addition of 2 series

ser1 + ser2

#### note whereever there is a match on the index, values were added. whereever there is no match
#### a Nan is displayed.

#### integers will be converted to float to retain all information possible

cat      4.0
dog      2.0
hyena    NaN
lion     NaN
panda    NaN
tiger    NaN
dtype: float64

In [1]:
ser1

NameError: name 'ser1' is not defined