In [1]:
import sys

In [2]:
print(sys.version)

3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)]

In [3]:
import platform

In [11]:
platform.python_version()

'3.6.4'

In [13]:
#########   DATA TYPES IN PYTHON

In [16]:
print ("Hello World")

Hello World

In [18]:
print ("Welcome to Python for Data Science \n Let us Now Explore Data Types")

Welcome to Python for Data Science
 Let us Now Explore Data Types

In [ ]:
##### Basic Arithmetic with Python

In [22]:
### Addition/Subtraction/Multiplication/Division

In [4]:
3 + 5

8

In [5]:
3-5

-2

In [6]:
3*5

15

In [7]:
3/5

0.6

In [8]:
3 > 5

False

In [31]:
3 == 5

False

In [9]:
3 < 5

True

In [33]:
3 <= 5

True

In [36]:
    (3 < 5) and (4 < 5)

True

In [37]:
3 < 5 and 4<5

True

In [39]:
3<5 or 3 > 5

True

In [101]:
3 < 5 or 4 > 5

True

In [10]:
8/5

1.6

In [105]:
#### modulo or Mod operator %  - Returns the reminder of a division

In [11]:
8%5

3

In [107]:
50 % 10   ### helps in checking if a number is even

0

In [12]:
### powers
2**3

8

In [13]:
2 + 10 *10+3  ### multiplication gets executed first

105

In [14]:
### change the equation to perform as below
(2+10) * (10+3)

156

In [ ]:
##### None Type

In [1]:
num_x = None
num_x is None

True

In [2]:
num_x = 10
num_x is None

False

In [ ]:
##### type casting

In [105]:
varfloat = 3.66
print(varfloat)
type(varfloat)

3.66

float

In [106]:
int(varfloat)

3

In [6]:
str(varfloat)

'3.66'

In [108]:
mystring = 'string'

SyntaxError: invalid syntax (<ipython-input-15-ce2af4c14e7e>, line 1)

In [ ]:
#### VARIABLE ASSIGNMENTS
#### RULES FOR VARIABLE NAMES
  ### names cannot start with a number
  ### no spaces in the name, use _ instead
  ### can't use any symbos like :,''',?,/,!,@,#,%,&,*~,-,+ in a variable
  ### best practice that names are in lowercase 
  ### avoid words which are keywords in python like "list" and "str"
  ### any dev environment highlights in different colors so that you can easily identify
  ### python uses Dynamic Typing , you can reassign variables to any different data types
  ### different than other variables that are statically-typed  because they start with variable assignment as below
   ###   int varname = 100 ..this already pre  fixes the variable to a specific data type ..integer in this case
    
  ###dynamic typing has pros and cons. easy to work with and faster development. but can be confusing 
##### if goes unchecked in large programs

In [109]:
a = 10
a+ a

20

In [111]:
a = a + a      #### variable reassignment
b = a

In [112]:
### to identify type of variable
type(a)

int

In [20]:
### int = 4   #### note int highlighted in green. hence its a key word and not to be
         #### as variable

In [21]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
my_taxes

10.0

In [124]:
##### strings
#### ordered sequences , it means it allows for indexing and slicing to capture
#### sections of strings
#### indexing notation uses " [] " notation after string
#### indexing also allows you to grab a single character from a string
####       character  :  h  e  l  l   0
####       index      :  0  1  2  3   4
####  reverse index   :  0 -4 -3  -2 -1 
####     
####  slicing captures a slice of a string
####  [start:stop:step]
#### start is numerical index for slice start
###  stop is index you will go up to (but does not include)
###  step is the size of "jump" you take

In [113]:
"hello world"

'hello world'

In [126]:
'hello world'

'hello world'

In [127]:
" i'am going to have fun with python"

" i'am going to have fun with python"

In [22]:
"hello world"
"hi python"

'hi python'

In [114]:
print("hello world")
print("hi python")

hello world
hi python

In [115]:
print ("hello world \n i am python \n i am not a reptile")

hello world
 i am python
 i am not a reptile

In [116]:
### length of a string
len('hello')

5

In [118]:
#### string objects basic
string1 = 'hello world'
string2 = "hello world"
string3 = """hello world"""

In [119]:
len(string1)   ### note spaces are counted in length

11

In [117]:
string4 = " I 'am going to have fun "

In [137]:
print(string1)
print(string2)
print(string3)
print(string4)

hello world
hello world
hello world
 I 'am going to have fun

In [ ]:
### string indexing

In [120]:
mystring = "i am python"
mystring

'i am python'

In [121]:
print(mystring)
len(mystring)

i am python

11

In [123]:
mystring[5]

'p'

In [124]:
print(mystring[0])

i

In [125]:
print(mystring[12])   ### why is this an error ???/

IndexError: string index out of range

In [145]:
print(mystring[10])

n

In [146]:
len(mystring)

11

In [147]:
## revense index
mystring[0]

'i'

In [126]:
mystring[-1]

'n'

In [149]:
mystring[-10]

' '

In [150]:
mystring[-11]

'i'

In [161]:
#### slicing
####  slicing captures a slice of a string
####  [start:stop:step]
#### start is numerical index for slice start
###  stop is index you will go up to (but does not include)
###  step is the size of "jump" you take
####  [start:stop:step]
#### start is numerical index for slice start
###  stop is index you will go up to (but does not include)
###  step is the size of "jump" you take

In [139]:
mystring = "uvwxyzabcppsss"
print(mystring)
len(mystring)

uvwxyzabcppsss

14

In [149]:
newstring = '0123456780'

In [150]:
newstring[0:6:2]

'024'

In [132]:
mystring[2:9:1]

'wxyzabc'

In [140]:
mystring[2:]

'wxyzabcppsss'

In [144]:
print(mystring)
mystring[:5]   ### please note that index position 5 has 'z' . but when slicing operations, the stop parameter considers Upto 5
               ### but not inclusive of 5. hence the output you get is only "uvwxy"

uvwxyzabcppsss

'uvwxy'

In [136]:
mystring[:6]

'xyz'

In [138]:
newstr = ['abcdefgh']
newstr[:13]

['this is the third session']

In [170]:
mystring[::]   ### equivalent to typing mystring

'uvwxyzabc'

In [171]:
mystring[::2]   ### use of step size

'uwyac'

In [135]:
mystring[::-1]    #### reverses an entire string..not used much..but useful

'sssppcbazyxwvu'

In [ ]:
##### string properties and methods

In [ ]:
####### immutability (cannot be changed)

In [151]:
name = "candy"
print(name)

candy

In [175]:
### trying to perform such operations is not possible
### lets say if i want to change first letter from c to m by assigning a value to the first index of string as below

In [178]:
name[0] = 'm'

TypeError: 'str' object does not support item assignment

In [181]:
name = 'mandy'
print(name)

mandy

In [182]:
name[0] = 'c'

TypeError: 'str' object does not support item assignment

In [152]:
### to achieve item assignment indirectly
temp=name[1:]
temp

'andy'

In [153]:
 'm'+temp    ### this is called string concatenation

'mandy'

In [192]:
x = 'hello world'
x + " good evening"

'hello world it is beautiful outside'

In [154]:
x = x + " it is beautiful outside"
x

NameError: name 'x' is not defined

In [200]:
varstring = 'x'
varstring * 10

'xxxxxxxxxx'

In [201]:
2 + 3

5

In [202]:
'2' + '3'     ##### please be aware of this. it concatenates

'23'

In [ ]:
#### built in methods in python - some useful methods

In [155]:
x = 'hello sunday'

In [156]:
##### to know all methods that are supported type " stringvarname. and then hit tab key" 
x.upper()   #### change uppercase

'HELLO SUNDAY'

In [205]:
#### remember this does not change the value in original string. try printing x now
x

'hello world'

In [207]:
### to change the original string reassign
x = x.upper()
x

'HELLO WORLD'

In [208]:
### change to lower case
x= x.lower()
x

'hello world'

In [209]:
x.upper     #### this means that you have not executed the method but just asking python what this statement or method is
              ### python responds by saying its a function and a method for strings

In [158]:
### split method - creates a list from a string
y = "great sunday"
y.split()                   #### outputs a list

['great', 'sunday']

In [159]:
y.split('s')   ### splits the string at the spefic character mentioned inside paranthesis and removes the character

['great ', 'unday']

In [212]:
y.split('y')

['great sunda', '']

In [ ]:
### string interpolation   - inject a variable into a string
#### .fornmat method

In [215]:
print('this is a string{}'.format('inserted'))

this is a stringinserted

In [216]:
print ("this is a string {}".format('inserted'))

this is a string inserted

In [219]:
print ("today {} {} {}".format('is','a','great sunday'))

today is a great sunday

In [220]:
print ("today {2} {1} {0}".format('is','a','great sunday'))

today great sunday a is

In [224]:
print("today {f} {a} {g}".format(f='is', a='a', g='great sunday'))

today is a great sunday

In [228]:
#### float formatting
result= 100/999

In [229]:
print("the result was {}".format(result))

the result was 0.1001001001001001

In [230]:
print("the result was {r}".format(r=result))

the result was 0.1001001001001001

In [234]:
### print("the result was {r:width.numbers after decimal}".format(r = result)) 
#### result is assigned to variable r
#### within curly brackets we give, r, width, number after decimal point
#### width parameter indicates white space in your string number

print("the result was {r:1.3f}".format(r=result))

the result was 0.100

In [ ]:
#### f string method  - formatted string literals..new to python 3.6

In [ ]:
name = "anand"

In [236]:
print ('hello, my name is {}'.format(name))

hello, my name is mandy

In [237]:
print(f'hello, my name is {name}')

hello, my name is mandy

In [240]:
name =  'anand'
age = 43

In [241]:
print(f'{name} is {age} old')

anand is 43 old

In [44]:
x = 5

In [48]:
y = 0.5

In [45]:
print(x)

5

In [46]:
type(x)

int

In [49]:
type(y)

float

In [51]:
z = "string"

In [52]:
type(z)

str

In [53]:
print(x)
print(y)

5
0.5

In [54]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [55]:
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'str'>

In [59]:
print(type(x),
      type(y),
      type(z))

<class 'int'> <class 'float'> <class 'str'>

In [63]:
#### multiple assignments of variables

In [64]:
var1, var2, var3 = 100,200,300
var1,var2,var3

(100, 200, 300)

In [68]:
print(hex(id(x)))
print(hex(id(y)))
print(hex(id(z)))

0x63af6e60
0x1cbc0e75498
0x1cbbcfbf298

In [70]:
x=10

In [80]:
print(string1)
print(string2)
print(string3)

stringone
stringtwo
stringthree

In [83]:
num_x = None    ### Please be care ful of case sensitivity

In [84]:
num_x is None  ### to check if num_x is None

True

In [86]:
num_y = 20
num_y is None

False

In [ ]:
#### type cast variables - change data type

In [88]:
varint = 6

In [90]:
varint

6

In [91]:
float(varint)

6.0

In [95]:
str(varint)

'6'

In [97]:
 varfloat = 5.666

In [98]:
varfloat

5.666

In [10]:
str(varfloat)

'3.66'

In [ ]:
###############################  END OF STRINGS ###############

In [ ]:
########  TUPLE - OVERVIEW

####                                                    TUPLES 
### tuple is an "Immutable" object. Contents cannot be modified
### one dimensional, ordered, sequenced and can have mixed datatypes
### once an element is assigned to an index position in tuple it cannot be reassigned
##### tuple uses paranthesis (1,2,3)

In [160]:
t = (1,2,3)

In [161]:
type(t)

tuple

In [162]:
len(t)

3

In [167]:
t = ('one', 3)
type(t)

tuple

In [169]:
##### tuples are immutable (meaning values cannot be changed)
timmute = ('str1','str2',6,7)

In [168]:
timmute[0]

'str1'

In [170]:
timmute[0] = 'str3' 

##### note the  above statement reslts in  error "object does not support item assignment"

TypeError: 'tuple' object does not support item assignment

In [ ]:
### indexing with tuple

In [171]:
t[0]

'one'

In [172]:
t[-1]    ### reverse index

3

In [ ]:
######### Tuple - methods.
 ##### To look at methods used with tuples do the below
    ## option 1 - go to docs.python.org
    ## option 2 - type in tuplename followed by a "." and press tab key. you will see a list of methods 
    ###           for tuple. this works only in jupyter
  #####  to know about method use help followed by tuple.methodname. eg help(t1.count())

In [177]:
t1 = (1,2,3,2,4)

In [178]:
t1.count(2)

2

In [181]:
t = ('x' , 'x' , 'y')

In [182]:
t[0]

'x'

In [174]:
t.count('x')             #### gives the count of x in the tuple

2

In [255]:
t.index('x')    ### returns the first index of the first occurence of that letter

0

In [180]:
help(t.count)

Help on built-in function count:

count(...) method of builtins.tuple instance
    T.count(value) -> integer -- return number of occurrences of value

In [20]:
help(t.index)

Help on built-in function index:

index(...) method of builtins.tuple instance
    T.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

In [183]:
my_tuple = ('a', 100, 'b',200)
my_tuple

('a', 100, 'b', 200)

In [185]:
my_tup_1 = ((1,2),('a','b'))

In [188]:
len(my_tup_1)

2

In [193]:
my_tup_1[0][1]

2

TypeError: tuple indices must be integers or slices, not list

In [187]:
my_tup_1[0]

(1, 2)

In [ ]:
#####  list within a tuple

In [23]:
my_tuple2 = ([1,2,3],['a','b','c'],2,3)

In [24]:
my_tuple2[0]

[1, 2, 3]

In [26]:
#### dictionary within a tuple
my_tuple3 = ({'k1':1,'k2':2,'k3':3},'a',1)

In [27]:
my_tuple3

({'k1': 1, 'k2': 2, 'k3': 3}, 'a', 1)

In [262]:
my_tuple[0] = 'c'            ### returns an error because item assignment is not possible because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [32]:
#### slicing tuples

('a', 100, 'b', 200)

In [194]:
my_tuple

('a', 100, 'b', 200)

In [195]:
my_sliced_tuple= my_tuple[0:2]    #### remember its upto but not including 2. count starts at 0 and stops before 2
my_sliced_tuple

('a', 100)

In [196]:
my_sliced_tuple2 = my_tuple[1: -1]    #### remember its upto but not including 2. count starts at 0 and stops before 2
my_sliced_tuple2

(100, 'b')

In [11]:
#### tuples  usage
#### helps in data integrity ...more suited for advanced python programming

In [ ]:
############################### END OF TUPLES

In [ ]:
####### LIST OVERVIEW

In [ ]:
#### LISTS - Ordered sequence types that can hold a variety of object types
### use [] brackets and commas to separate objects in the list [1,2,'a', 1.3,"b"]
### support indexing and slicing.
#### can be nested [a[v[]]]
#### have useful methods

In [197]:
my_list_1 = [1,2,3]
my_list_2 = ['this is a list', 100, 0.314, "is this value of pi"]

In [198]:
len(my_list_1)

3

In [199]:
len(my_list_2)

4

In [200]:
my_list_2[0]

'this is a list'

In [202]:
my_list_2[1:]

[100, 0.314, 'is this value of pi']

In [207]:
my_list_3= my_list_1 + my_list_2   ### list concatenation
my_list_3

[1, 2, 3, 'this is a list', 100, 0.314, 'is this value of pi']

In [204]:
#### lists are mutable unlike strings and tuples
my_list_3[0]

1

In [208]:
my_list_3[0] = 'one'

In [209]:
my_list_3

['one', 2, 3, 'this is a list', 100, 0.314, 'is this value of pi']

In [210]:
### add elements to end of list
my_list_3.append('seventh element')

In [211]:
my_list_3

['one',
 2,
 3,
 'this is a list',
 100,
 0.314,
 'is this value of pi',
 'seventh element']

In [35]:
#### methods with lists
#### use tabkey aftere listname. for viewing all methods of a list

In [36]:
my_list_method = [1,2,3,'a','e','i','o','u']

In [37]:
my_list_method.append('x')
my_list_method

[1, 2, 3, 'a', 'e', 'i', 'o', 'u', 'x']

In [41]:
my_list_method.clear()
my_list_method

[]

In [46]:
my_listcopy = my_list_method.copy()                 ##### makes a shallow copy of list
my_listcopy

[]

In [212]:

my_list_method.extend('newlist')
my_list_method

['a', 'ba', 'n', 'e', 'w', 'l', 'i', 's', 't']

In [217]:
my_list_method.insert(4,'xy')
my_list_method                        ### note when i add a value of an index that is non existent,python
                                    #### uses the last available index

['a', 'ba', 'n', 'e', 'xy', 'xy', 'xy', 'xy', 'df', 'w', 'l', 'i', 's', 't']

In [77]:
my_list_method[4]

IndexError: list index out of range

In [79]:
### remove an item from list
my_list_method

['a', 'ba', 'df']

In [82]:
my_list_method.remove('df')

ValueError: list.remove(x): x not in list

In [83]:
my_list_method

['a', 'ba']

In [218]:
###
my_list_3.pop(7)

'seventh element'

In [219]:
my_list_3

['one', 2, 3, 'this is a list', 100, 0.314, 'is this value of pi']

In [220]:
pop_item = my_list_3.pop()

In [221]:
pop_item

'is this value of pi'

In [222]:
my_list_3

['one', 2, 3, 'this is a list', 100, 0.314]

In [228]:
new_list = ['a','e','d','c','y','h']
num_listnum = [400,299,100,8,899]

In [236]:
num_listnum.sort()

In [238]:
num_listnum

[8, 100, 299, 400, 899]

In [240]:
sortedlist = num_listnum

In [241]:
print(sortedlist)

[8, 100, 299, 400, 899]

In [234]:
type(sortedlist)

NoneType

In [227]:
new_list

['a', 'c', 'd', 'e', 'h', 'y']

In [301]:
my_sort_output = new_list.sort()

In [302]:
my_sort_output   #### nothing happens when executing this . .sort function sorts the list "in place"

In [303]:
type(my_sort_output)   ### None Type is a special object meaning nothing or no value. return value of a function 
                              ##### or method and that does not return anything

NoneType

In [224]:
help(new_list.sort())                     ### to work around .sort inplace 
my_sort_output = new_list
my_sort_output

NameError: name 'new_list' is not defined

In [269]:
num_list

[400, 299, 100, 8, 899]

In [270]:
num_list_1 = [1,2,3,4,5,6,7,9,'A']

In [271]:
num_list_1.pop()

'A'

In [272]:
num_list_1

[1, 2, 3, 4, 5, 6, 7, 9]

In [273]:
num_list_1.pop(3)

4

In [307]:
num_list.sort()

In [308]:
num_list

[8, 100, 299, 400, 899]

In [309]:
num_list.reverse()   ### reversing the list

In [310]:
num_list

[899, 400, 299, 100, 8]

In [84]:
#### to try out other methods, use the tab key after " . "

In [ ]:
#################################  END OF LIST

In [ ]:
###### DICTIONARY OVERVIEW

In [242]:
my_new_list =[[1,2,3],['a','b','c']]

In [243]:
my_new_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
##### dictionaries
### key value pair combiantion 
### when to choose list and when to choose dictionary
##### dictionaries are objects retrieved by name of a key. they are not ordered and cannot be sorted 
##### because of key value mapping
#### whenever there is a need to retrieve a value without knowing the index, dictionary is helpful

In [244]:
my_dict = { 'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [245]:
my_dict['key1']

'value1'

In [246]:
price_lookup = {'pen':2.99, 'bread':5, "ball":10}

In [247]:
price_lookup

{'ball': 10, 'bread': 5, 'pen': 2.99}

In [248]:
price_lookup['bread']

5

In [ ]:
#### dictionaries can also hold lists or other dictionaries

In [249]:
d = {'k1':123,'k2':[0,2,3],'k3':{'dictkey':100}}

In [322]:
d['k2']

[0, 2, 3]

In [323]:
d['k3']

{'dictkey': 100}

In [325]:
d['k3']['dictkey']

100

In [326]:
d['k2'][1]

2

In [250]:
#### adding new key value pair to dictionary
d1 = {'k1':100,'k2':200}

In [251]:
d1['k3']=300

In [252]:
d1

{'k1': 100, 'k2': 200, 'k3': 300}

In [ ]:
### update values dictionary

In [253]:
d1['k1'] = 1000

In [254]:
d1

{'k1': 1000, 'k2': 200, 'k3': 300}

In [ ]:
#### useful methods in a dictionary

In [255]:
d1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [256]:
d1.values()

dict_values([1000, 200, 300])

In [257]:
d1.items()    ### #note tuples inside paranthesis in the output

dict_items([('k1', 1000), ('k2', 200), ('k3', 300)])

In [258]:
d1.update({'k1':2000})
d1.values()
d1.items()

dict_items([('k1', 2000), ('k2', 200), ('k3', 300)])

In [259]:
#### deleting a key and values associated
del d1['k2']

In [260]:
d1.items()

dict_items([('k1', 2000), ('k3', 300)])

In [ ]:
ins

In [ ]:
##################### end of dictionary

In [ ]:
######  SET Overivew

In [ ]:
#### sets 
##### unordered collection of unique values

In [261]:
auto_survey = set(['chevy','bmw','suzuki','ford','toyota','honda','bmw'])

In [262]:
auto_survey

{'bmw', 'chevy', 'ford', 'honda', 'suzuki', 'toyota'}

In [263]:
type(auto_survey)
len(auto_survey)

6

In [266]:
auto_survey1 = set(['bmw','chevy','suzuki','hyundai','kia','holden','scion','lambhorgini','konigsegg','nissangt'])

In [352]:
combine_set = auto_survey | auto_survey1

In [353]:
combine_set

{'bmw',
 'chevy',
 'ford',
 'holden',
 'honda',
 'hyundai',
 'kia',
 'konigsegg',
 'lambhorgini',
 'nissangt',
 'scion',
 'suzuki',
 'toyota'}

In [267]:
intersect_set = auto_survey & auto_survey1        #### common elements between sets

In [268]:
intersect_set

{'bmw', 'chevy', 'suzuki'}